@import "tailwindcss";

:root {
  --background: #D7D7D7;
  --secondary-background: #DFE9EF;
  --foreground: #000;
  --primary: #101020;
  --secondary: #EB6E6E;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-secondary-background: var(--secondary-background);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
